Healthie/Healthie.xcodeproj/project.xcworkspace/xcuserdata/Memo.xcuserdatad/UserInterfaceState.xcuserstate
HealthieBackend/.vscode
HealthieBackend/.edamamkeys
HealthieBackend/.ipynb_checkpoints/*
**__pycache__
*.pyc
*.DS_Store
HealthieBackend/.DS_Store
Pipfile*
HealthieBackend/recipe_collection.json
