Healthie/Healthie.xcodeproj/project.xcworkspace/xcuserdata/Memo.xcuserdatad/UserInterfaceState.xcuserstate
HealthieBackend/.vscode
HealthieBackend/.edamamkeys
HealthieBackend/.ipynb_checkpoints/*
**__pycache__
**.pyc
*.DS_Store
Pipfile*
HealthieBackend/recipe_collection.json
.DS_Store
HealthieBackend/recipe_export.csv
HealthieBackend/recipe_export.json
.DS_Store
